{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" media="screen" href="{% static 'styles.css' %}">
</head>
<header>
    {% include "partials/navbar.html" %}
</header>
<body>
    <div>
        <header class="reachme">reach me at my social media</header>
    </div>
    <div class="row" id="row_contact" >
        <div class = "col-sm-3 col-sm-offset-1">
            <a href="https://www.dropbox.com/h">
            <img src="https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/42246068_2631245913555886_7013468473795805184_n.jpg?_nc_cat=110&_nc_eui2=AeGJVxxo6kejMltHhmoal0GCexUXabHMluSXeqLr9hny0_jTo48g6giX5YMxsO8FODHIftFzHXdX4h2L3kuDbwIDNgIW_tCwDhgsHv-kApvRpg&oh=313b6f78bbcafcb35503929b04e7204e&oe=5C2BA49F"
            alt="dropbox saya" width="200" height="200">
            </a>
        </div>
        <div class = "col-sm-3 col-sm-offset-1">
            <a href="https://plus.google.com/discover">
                <img src="https://scontent.fcgk9-2.fna.fbcdn.net/v/t1.0-9/42084538_2630492970297847_4941791801729089536_n.jpg?_nc_cat=111&_nc_eui2=AeG9_YM1wALc_mRozKTSjILPghv8NyubVXfhQtVnCpdzL-dWtXHNsAHNmlKR7-2w1I9ToirEKEedCHSuNApy6oKMcyzqE6S3XD6dEbZ7vSUMAw&oh=0684ea102de49e213b277dad820ba768&oe=5C2B5547"
                alt="google++ saya" width="200" height="200">
            </a>
        </div>
        <div class = "col-sm-3 col-sm-offset-1">
            <a href="https://www.linkedin.com/in/laila-saffanah-8a60b7170/">
                <img src="https://scontent.fcgk9-2.fna.fbcdn.net/v/t1.0-9/42137692_2630493016964509_2706404419586490368_n.jpg?_nc_cat=101&_nc_eui2=AeFBkh-wrX16ryPaabMVXen9sDq2VffoSgPQO4YLaP0GGwdo5xu9RBRM_JUozS_VNODXwDw8dyd2qOoAa9uWZntzIredlkv-oVBjWQwzhp_CEg&oh=870c4892ff5e04fb967357de65d3f98b&oe=5C60E54D"
                alt="linkedin saya" width="200" height="200">
            </a>
        </div>
    </div>

</body>
</html>
