{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" media="screen" href="{% static 'styles.css' %}">
</head>
<header>
    {% include "partials/navbar.html" %}
</header>
<body>
    <div>
        <h4 id="enjoy">did you enjoy your visit?</h4>
        <p id= "fill">please fill our guest form before you leave</p>
    </div>

    <form>
        <div class="form-group">
            <label for="formGroupExampleInput">Your name</label>
            <input type="text" class="form-control" placeholder="Insert name...">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Date</label>
            <input type="date" class="form-control" placeholder="Insert date..."
            min="2018-20-09">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput2">Email address</label>
          <input type="email" class="form-control" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput3">Subject</label>
          <input type="text" class="form-control" placeholder="Insert subject...">
        </div>
        <div class="form-group" id="message">
          <label for="exampleFormControlTextarea1">Your Message</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class= "submit-button" id="submit-form">
            <button type="submit" class="btn btn-danger">Submit My Form</button>
        </div>
      </form>

</body>
</html>
