{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" media="screen" href="{% static 'styles.css' %}">
  </head>
  <header>
    {% include "partials/navbar.html" %}
  </header>
  <body class = "body-home" background="https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/42146086_2629696143710863_6935336468856438784_o.jpg?_nc_cat=101&oh=3565eb2c5161337d3beba5fba3f445ea&oe=5C1BC349">
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Saffa's Website</h1>
    <p class="enjoy-visit">Enjoy your visit!</p>
  </div>
</div>

  </body>
</html>
