{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" media="screen" href="{% static 'styles.css' %}">
</head>
<header>
    {% include "partials/navbar.html" %}
</header>
<body class = journal-body>
    <div>
        <h4 class = journal-head>Saffa's Journal</h4>
        <p class = journal-des>daily life as a college student</p>
    </div>
    <div class = "row" id = "row_journal">
        <div class = "col-sm-10 col-sm-offset-1">
            <div id = "journal-block">
                    <h4 id = "journal-title">java or python: thoughts</h4>
                    <p id = "journal-date">Saturday, September 15th 2018</p>
            </div>
        </div>
    </div>
    <div class = "row" id = "row_journal">
        <div class = "col-sm-10 col-sm-offset-1">
            <div id = "journal-block">
                <h4 id = "journal-title">come back home</h4>
                <p id = "journal-date">Sunday, September 16th 2018</p>
            </div>
        </div>
    </div>
    <div class = "row" id = "row_journal">
            <div class = "col-sm-10 col-sm-offset-1">
                <div id = "journal-block">
                <h4 id = "journal-title">art week at campus</h4>
                <p id = "journal-date">Monday, September 17th 2018</p>
            </div>
        </div>
    </div>

</body>
</html>
