{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" media="screen" href="{% static 'styles.css' %}">
</head>
<header>
    {% include "partials/navbar.html" %}
</header>
<body>
    <div>
        <h4 class="sapaan">Hello There! I'm Laila Saffanah</h4>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class= img_profile>
            <img src="https://scontent.fcgk9-1.fna.fbcdn.net/v/t1.0-9/42118518_2630387220308422_4265814565528272896_n.jpg?_nc_cat=111&_nc_eui2=AeFriUbUpcKOtUhwqTwoOXHiOlQ08eXniMk9U3gm34uDYiaPqSX0R8TckXAuOSbwrDx2xTb3zEQStA4oEWr08B9dfn4NCDG3hhIyeI6roOgSQA&oh=a91c99d32e0926af3a1eca3ad94d24a0&oe=5C15F9A7" alt="saya"
            width="250" height="250">

      </div>
    </div>
      <div class="col-sm-5">
        <div class = bio-block>
            <p id="biodata">
                An undergraduate student majoring <br> in Computer Information System. <br>
                I am currently studying in Universitas<br>Indonesia. I have great interest in <br>
                digital design and animation concept.
                <br>
                <br>
                Currently i'm interested in web designing.<br>So i hope you can enjoy this website<br>
                as much as i enjoy making it!
            </p>
            <br>
            <h4 id="skills">Skills</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%"
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Writing</div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 50%"
                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Coding</div>
                </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 50%"
                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Problem Solving</div>
                </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class = edu-block>
            <h4 id = "edu-header">Education</h4><br>
            <h4 class = year>2011-2014</h4>
            <p class = stage>IGBS Darul Marhamah</p>
            <h4 class = year>2014-2017</h4>
            <p class = stage>SMAN 78 Jakarta</p>
            <h4 class = year>2017-present</h4>
            <p class = stage>Universitas Indonesia</p>
        </div>
    </div>
  </div>
</body>
</html>
