{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
            <link rel="stylesheet" media="screen" href="{% static 'styles.css' %}">
</head>
<header>
        {% include "partials/navbar.html" %}
</header>
<body>
    <div class="table-responsive table-bordered">
        <table class="table">
            <thead class="thead-dark">
                <th>Nama Kegiatan</th>
                <th>Kategori</th>
                <th>Hari</th>
                <th>Tanggal</th>
                <th>Waktu</th>
                <th>Tempat</th>
            </thead>
            <tbody>
                {% for i in schedules %}
                <tr>
                    <td> {{i.activity}} </td>
                    <td> {{i.category}} </td>
                    <td> {{i.day}} </td>
                    <td> {{i.date}} </td>
                    <td> {{i.time}} </td>
                    <td> {{i.place}} </td>
                </tr>             
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <button class="btn btn-default" id="reset_button">
            <a href="{% url 'Schedule_Reset' %}">Reset My Activity</a>
        </button>
    </div>
</body>
</html>
