{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" media="screen" href="{% static 'styles.css' %}">
</head>
<header>
    {% include "partials/navbar.html" %}
</header>
<body>
    <h4 class="schedule">my activity</h4>
        <div class="row">
            <form class="form-group" method="POST" action="{% url 'Add_Schedule' %}">
                <div >
                    {% csrf_token %}
                    {{ add_schedule }}
                </div>
                <button class="form-group" types="submit">Submit</button>
            </form>
        </div>
</body>
</html>