{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" media="screen" href="{% static 'styles.css' %}">
</head>
<header>
    {% include "partials/navbar.html" %}
</header>
<body class = body_work>
    <div>
        <h4 class=learn>learn something amazing</h4>
        <p class = browse>browse through these workshop topics</p>
    </div>
    <div class="row">
        <div class = "col-sm-3 col-sm-offset-1">
                <div class="card text-white bg-warning mb-3,card text-center" id="card-style">
                        <img class="card-img-top" src="https://scontent.fcgk9-2.fna.fbcdn.net/v/t1.0-9/42206648_2630599100287234_8829893886546542592_n.jpg?_nc_cat=107&_nc_eui2=AeHhP_cIR4b72znbBXcaKjdkcDyJW9vsiigwC-rlMYWhLyuUGAnyTWR87GmufLoheGKFXZf2rOe2OjDRbeoMGUMlGAUyCA2ru4w4duvI5BOcaw&oh=98b2373ababf912c9adba2ea9c5e35f7&oe=5C36564A"
                        alt="Adobe Illustrator" width="240" height="180">
                        <div class="card-body">
                          <h5 class="card-title">Master Your Adobe Illustrator</h5>
                          <a href="#" class="btn btn-info">register me!</a>
                        </div>
                      </div>

    </div>

        <div class = "col-sm-3 col-sm-offset-1">
                <div class="card text-white bg-warning mb-3,card text-center" id="card-style">
                        <img class="card-img-top" src="https://scontent.fcgk9-2.fna.fbcdn.net/v/t1.0-9/42195215_2630599136953897_3362340071368818688_n.jpg?_nc_cat=106&_nc_eui2=AeEVSwv6qO5_q32eo8ekW6c_Bv-P7oS2ZqROsFyiE0N6Ufs2j5wmCkk4vatUmROKgvnldY3vUHB276cix44Xvdc0DfxsssikV9H1LFu7GkzbDQ&oh=a6af33beba9ad9e349cad825ded3a57d&oe=5C34EFBB"
                        alt="Web Programming" width="240" height="180">
                        <div class="card-body">
                          <h5 class="card-title">Learn The Basic Of Web Programming</h5>
                          <a href="#" class="btn btn-info">register me!</a>
                        </div>
                      </div>

    </div>
        <div class = "col-sm-3 col-sm-offset-1">
                <div class="card text-white bg-warning mb-3;card text-center" id="card-style">
                        <img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42104340_2630728176940993_1288821734505447424_n.jpg?_nc_cat=106&oh=035dadf6ce5fc2829c64660c575516d7&oe=5C1F5B56"
                        alt="Big Data" width="240" height="180">
                        <div class="card-body">
                          <h5 class="card-title">Prepare Yourself For The Big Data Era</h5>
                          <a href="#" class="btn btn-info">register me!</a>
                        </div>
                      </div>
        </div>
    </div>
    <div class="col-sm-1">

    </div>
</div>
</body>
</html>
