body{
    background-color:white;
}

.body-home{
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}
.navbar-default{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 120%;
}

.jumbotron-fluid{
  background-color: rgba(255, 185, 106, 0.5);
}

.display-4{
  font-family: Verdana;
  font-style: oblique;
  font-weight: bold;
  color:white;
}

.enjoy-visit{
  font-family: serif;
  font-style: normal;
  font-size: 100%;
}

.sapaan{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-weight: bolder;
    font-size: 300%;
    text-align: center;
    padding-top: 40px;
    padding-left: 10%;
    color: salmon;

}


.bio-block{
    position: absolute;
    background-color: black;
    padding-right: 100px;
    padding-left: 70px;
    padding-top: 20px;
}

#biodata{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    font-style: oblique;
    color: salmon;
}

#skills{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 140%;
    font-style: oblique;
    color: salmon;
}

.progress{
    width: 50%;
}

.edu-block{
  right: 250px;
    position: absolute;
    padding-bottom: 20px;
    padding-right: 100px;
    padding-left: 40px;
    padding-top: 20px;
    background-color: salmon;
}

#edu-header{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-weight: bolder;
    font-size: 220%;
    padding-left: 10px;
    color: black;
}

.year{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-weight: bolder;
    font-size: 120%;
    color: black;
    padding-left: 5px;
}

.stage{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:oblique;
    font-weight: 300;
    font-size: 100%;
    color: black;
}

.img_profile{
    height: 100%;
    width: 100%;
    padding-left: 100px;
    position: absolute;
}

.reachme{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bolder;
    font-size:300%;
    color: salmon;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.column{
    flex: 33.3%;
    max-width: 33.3%;
    padding: 0 4px;
}

.body_work{
    background-color: black;

}

.learn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    font-weight: bolder;
    font-size: 400%;
    text-align: center;
    padding-top: 10px;
    color:white;
}

.browse{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:500;
    font-size: 150%;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 40px;
    color: salmon;
}


.card-header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-style: italic;
    font-weight: bolder;
    color: white
}

#card-style{
    max-width: 24rem;
    border-radius: 5%;
    padding-bottom: 20px;
}

.card-title{max-width: 24;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-weight: bold;
    font-size: 120%;
    color: salmon;
}

.journal-body{
    background-color: white;
}


.journal-head{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-weight: bolder;
    font-size: 350%;
    color: black;
    text-align: center;
    text-shadow: darkred;

}

.journal-des{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 150%;
    color: black;
    text-align: center;
}

#row_journal{
    flex: 33.3%;
    padding: 0 3px;
}

#journal-block{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: salmon;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 180px;
}

#journal-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: bold;
    font-size: 300%;
    color: black;
    text-align: center;
}

#journal-date{
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight: 400;
    font-size: 150%;
    text-align: center;
    color: white;
}

#enjoy{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: oblique;
    font-size: 350%;
    color: salmon;
    text-align: center;
    padding-top: 40px;
}

#fill{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 100%;
    color: salmon;
    text-align: center;
    padding-top: 10px;
}

.form-group{
    padding-left: 25%;
    padding-right: 25%;
}

.submit-button{
    padding-left: 45%;
    padding-bottom: 25px;
}


#form-group-nav{
    padding: 0;
}

#schedule{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: oblique;
    font-size: 350%;
    color: salmon;
    text-align: center;
    padding-top: 40px;
}
#reset_button{
    margin: 0 auto;
}