<nav class="navbar navbar-default">
        <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src="https://scontent.fcgk9-1.fna.fbcdn.net/v/t1.0-9/41962049_2629656550381489_4542339905962901504_n.jpg?_nc_cat=0&_nc_eui2=AeH4W8PBR4elwge7dKKZygqKY-5MAyUZe2m7bgK2TR45aY-CIcfjIDrtKz8e3ZZcJx4aWEOha7OXL5a10rJVhWJb6z2gf70EvwKI-Q02ACn9Ww&oh=9eed4f8608b076041b1c8e7c72f0c597&oe=5C346180"
            width="35" height="35"></a>
        </div>
            <ul class="nav navbar-nav navbar-right">
            <li><a href="../">Home</a></li>
            <li><a href="../profile">Profile</a></li>
            <li><a href="../journal">Journal</a></li>
            <li><a href="../workshop">Workshop</a></li>
            <li><a href="../contact">Contact</a></li>
            <li><a href="../guestbook">Guest Form</a></li>
            <li><a href="../schedule_post">Schedule Form</a></li>
            <li><a href="../schedule_result">My Schedule</a></li>
            <form class="navbar-form navbar-left" action="/action_page.php">
            <div class="form-group" id="form-group-nav">
            <input type="text" class="form-control" placeholder="Search here...">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
            </form>
            </ul>
        </div>
</nav>